GEMINI_API_KEY=your-gemini-api-key
TAVILY_API_KEY=your-tavily-api-key

OPENAI_CHAT_MODEL=gpt-5-nano-2025-08-07
GEMINI_CHAT_MODEL=gemini-3.5-flash-lite

LOG_LEVEL=WARNING
LLM_TEMPERATURE=0.7
MAX_LLM_RETRIES=3

# set to true if needed langsmith tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=multi-agent-project

SQLITE_DATABASE_NAME=checkpoints.sqlite

# For Streamlit docker testing.
# Give the name of the FastAPI container as the host name. This is the name of the service in docker-compose.yml.
# This below is for individual testing
API_BASE=http://agent-api-container:8000
